<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>689087023081-hc86d987cf8kv3pjlproalqgv2i07pnn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.689087023081-hc86d987cf8kv3pjlproalqgv2i07pnn</string>
	<key>API_KEY</key>
	<string>AIzaSyCNgdl71YxkDUFdVfWSfc3fGz-6lm6_EWg</string>
	<key>GCM_SENDER_ID</key>
	<string>689087023081</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>andyvu.com.Nomify</string>
	<key>PROJECT_ID</key>
	<string>nomify-79449</string>
	<key>STORAGE_BUCKET</key>
	<string>nomify-79449.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:689087023081:ios:7e2d7aea30de288dc9ad78</string>
</dict>
</plist>